.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
  }

  .form {
    background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(9,9,9,1) 100%);
    border-radius: 20px;
    box-sizing: border-box;
    height: 80vh;
    padding: 2vw;
    width: 30vw;
  }

  .error-text {
    color: #b40e0e;
    /* height: 1vh; */
  }

  .formcontainer{
    width: 80%;
    margin-top: 2%;
    margin-left: 34%;
    opacity: 0.75;
  }
  